/* Pulse */
@-webkit-keyframes ann-pulse {
    25% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

    75% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }
}

@keyframes ann-pulse {
    25% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

    75% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }
}

.ann-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ann-pulse:hover,
.ann-pulse:focus,
.ann-pulse:active {
    -webkit-animation-name: ann-pulse;
    animation-name: ann-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Simple Scale Up*/
@-webkit-keyframes ann-scale-up {
    25% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

    75% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@keyframes ann-scale-up {
    25% {
        -webkit-transform: scale(1.009);
        transform: scale(1.009);
    }

    75% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
}

.ann-scale-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ann-scale-up:hover,
.ann-scale-up:focus,
.ann-scale-up:active {
    -webkit-animation-name: ann-scale-up;
    animation-name: ann-scale-up;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Simple Scale Up*/
.ann-scale-up-stay {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: 0.2s transform ease-in;
}

.ann-scale-up-stay:hover,
.ann-scale-up-stay:focus,
.ann-scale-up-stay:active {
    transform: scale(1.04);
}

/* Simple Scale Down*/
.ann-scale-down-stay {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: 0.2s transform ease-in;
}

.ann-scale-down-stay:hover,
.ann-scale-down-stay:focus,
.ann-scale-down-stay:active {
    transform: scale(0.96);
}

/* Simple Scale Down*/
.ann-scale-down-stay {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: 0.2s transform ease-in;
}

/* Simple Scale Down*/
.ann-scale-down-stay:hover,
.ann-scale-down-stay:focus,
.ann-scale-down-stay:active {
    transform: scale(0.96);
}


@-webkit-keyframes ann-scale-down {
    25% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    75% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }
}

@keyframes ann-scale-down {
    25% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    75% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }
}

.ann-scale-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ann-scale-down:hover,
.ann-scale-down:focus,
.ann-scale-down:active {
    -webkit-animation-name: ann-scale-down;
    animation-name: ann-scale-down;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/*gradient background*/
.ann-moving-rainbow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.ann-moving-rainbow:hover {
    background-image: linear-gradient(to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%);
    animation: slidebg 10s linear infinite;

}


@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.ann-circle-from-left {
    position: relative;
    margin: auto;
    transition: all 0.2s ease;
    min-width: 100px;
    background: transparent;
    border: none;
    min-height: 56px;
    display: inline-block;
}

.ann-circle-from-left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    z-index: -1;
}

.ann-circle-from-left:hover:before {
    width: 100%;
    background: #ffab9d;
}

.ann-circle-from-right {
    position: relative;
    margin: auto;
    transition: all 0.2s ease;
    min-width: 100px;
    background: transparent;
    border: none;
    min-height: 56px;
    display: inline-block;
}

.ann-circle-from-right::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    z-index: -1;
}

.ann-circle-from-right:hover::after {
    width: 100%;
    background: #ffab9d;
}

/*Backround Fill*/
.ann-bg-fill{
  padding: 1em 2em;
  transition: 0.4s;
}
.ann-bg-fill:hover,
.ann-bg-fill:focus {
  box-shadow: inset 0 0 0 2em #1b8dda;

}
/*Raise Hover*/
.ann-raise{
    transition: 0.4s;
  }
.ann-raise:hover,
.ann-raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #1b8dda;
  transform: translateY(-0.25em);
}

/*Sliding Background*/
.ann-bg-slide{
    padding: 1em 2em;
  transition: 0.4s;
}
.ann-bg-slide:hover,
.ann-bg-slide:focus {
  box-shadow: inset 9em 0 0 0 #1b8dda;
}
/*Fading Background*/
.ann-bg-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .ann-bg-fade:hover, .ann-bg-fade:focus, .ann-bg-fade:active {
    background-color: #1b8dda;
    color: white;
  }
    /*Skew Forward*/
  .ann-skew-forward-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .ann-skew-forward-up:hover, .ann-skew-forward-up:focus, .ann-skew-forward-up:active {
    -webkit-transform: skew(-9deg);
    transform: skew(-9deg);
  }
  .ann-skew-forward-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0 ;
  }
  .ann-skew-forward-down:hover, .ann-skew-forward-down:focus, .ann-skew-forward-down:active {
    -webkit-transform: skew(-9deg);
    transform: skew(-9deg);
  }
  /*Skew Backward*/
  .ann-skew-backward-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .ann-skew-backward-up:hover, .ann-skew-backward-up:focus, .ann-skew-backward-up:active {
    -webkit-transform: skew(9deg);
    transform: skew(9deg);
  }
  .ann-skew-backward-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 100% 0 ;
    transform-origin: 100% 0;
  }
  .ann-skew-backward-down:hover, .ann-skew-backward-down:focus, .ann-skew-backward-down:active {
    -webkit-transform: skew(9deg);
    transform: skew(9deg);
  }
  /*Border Fade*/
  .ann-border-fade{
    transition: 0.32s border ease-in;
    -moz-transition: 0.32s border ease-in;
  }
  .ann-border-fade:hover,.ann-border-fade:focus,.ann-border-fade:active{
      border: 2px solid #1b8dda;
}
/*Forward*/
.ann-forward{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 100% 0 ;
    transform-origin: 100% 0;
}
.ann-forward:hover{
    transform: translateX(7px);
}
/*Backward*/
.ann-backward{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 100% 0 ;
    transform-origin: 100% 0;
}
.ann-backward:hover{
    transform: translateX(-7px);
}
